*{
    width: 100%;
    height: 100%;
    
}
html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
main{
background-image: url(./assets/images/bg.jpg);
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
main .box{
    height: 100%;
    width: 100%;
    opacity: 0.66;
    position: absolute;
    top: 0;
    background: #000;
  
}
header{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 10;
    
}

#logo{
    width: 150px;
    height: 100px;
    padding: 10px 30px;
    cursor: pointer;
    
}
#sign{
    width: 75px;
    height: 35px;
    padding: 10px 30px;
}
#sign button{
    width: 80px;
    border-radius: 6px;
    font-size: 15px;
    background: red;
    color: white;
    margin-right: 200px;
}
#sign button:hover{
    background: rgb(199, 66, 66);
    cursor: pointer;
    transition: 0.5s;
}
.info{
    width: 100%;
    height:285Px;
    position: relative;
    z-index: 25;
}
.info h1{
    font-size: 3rem;
    color: white;
    text-align: center;
    margin-top: 170px;
    font-weight: 700;
    letter-spacing: 2px;
    font-family: cursive;
}
.info h2{
    color: white;
    text-align: center;
    font-weight: 500;
    position: absolute;
    top: 60px;
}
.info h3{
    font-size: 20px;
    color: white;
    text-align: center;
    font-weight: 500;
    position: absolute;
    top: 120px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, ;
}
form{
    width: 100%;
    height: 100px;
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    gap: 05px;
    position: absolute;
    top: 160px;

}

form input{
    height: 50px;
    width: 340px;
    margin-left: 320px;
    padding-left: 20px;
    border-radius: 6px;
    background:rgba(23, 23, 23, 0.2);
    font-size: 15px;
    font-weight: 500;


}

form button{
    height: 56px;
    width: 185px;
    border-radius: 6px;
    font-size: 20px;
    background: red;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;

}
form button:hover{
    background: rgb(199, 66, 66);
    cursor: pointer;
    transition: 0.5s;
}
.sec1{
    display: flex;
    align-items:center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin: auto;
    background: #000;
}
.line{
    width: 100%;
    height: 400px;
    color: white;
    font-size: 20px;

}
.line h1{
    font-size: 3.5rem;
    color: white;
    margin-left: 30px;
    margin-top: 120px;
    font-family: "Arvo", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .line h3{
    color: rgb(255, 255, 255);
    margin-left: 30px;
    margin-top: -360px;
  }
  .secimg{
    width: 100%;
    height: auto;
  }
  .fillline{
    width: 100%;
    height: 10px;
    margin-top: -10px;
    background: rgb(72, 72, 72);
  }
  .secimg img{
    position: relative;
    z-index: 10;

  }
  
  .secimg video{
    position: absolute;
    top:565px;
    right: 85px;
    width: 440px;
    height: 500px;
  }

  .sec2{
    display: flex;
    align-items:center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin: auto;
    background: #000;
}

.line2 h1{
    font-size: 3.5rem;
    color: white;
    margin-left: 30px;
    margin-top: 120px;
    font-family: "Arvo", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .line2 h3{
    color: rgb(255, 255, 255);
    margin-left: 30px;
    margin-top: -360px;
  }

  .sec3{
    display: flex;
    align-items:center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin: auto;
    background: #000;
}

.line3 h1{
    font-size: 3.5rem;
    color: white;
    margin-left: 190px;
    margin-top: 85px;
    font-family: "Arvo", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .line3 h3{
    color: rgb(255, 255, 255);
    margin-left: 200px;
    margin-top: -430px;
    width: 370px;
    font-size: 23px;
    font-family:Verdana, Geneva, Tahoma,;
    font-weight: 500;
  }

  .sec4{
    display: flex;
    align-items:center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin: auto;
    background: #000;
}

.line4 h1{
    font-size: 3.5rem;
    color: white;
    margin-left: 10px;
    margin-top: 120px;
    font-family: "Arvo", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .line4 h3{
    color: rgb(255, 255, 255);
    margin-left: 10px;
    margin-top: -440px;
    width: 540px;
    font-size: 23px;
    font-family:Verdana, Geneva, Tahoma,;
    font-weight: 500;
  }

  .freq{
    width: 100%;
    height: 100%;
    margin-top: -47px;
    background: #000;
}

.line5 h1{
    font-size: 3.5rem;
    color: white;
    font-family: "Arvo", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    padding: 60px;
    padding-left: 20px;
  }
  .questions{
    width: 100%;
    height: 100%;
    background: #000;
  }
  .ques{
    background-color:rgb(56, 55, 55);
    width: 95%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #000;
    position: absolute;
    top: 2900px; 
    left: 30px;
   }
   .ques h3{
    font-size: 25px;
    color: white;
    padding-top: 60px;
  padding-left: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, ;
    font-weight: 500;
  }
  .ques i{
    font-size: 50px;
    color: white;
    padding-top: 30px;
    margin-right: -999px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    font-weight: 100;
  }

  .ques1{
    background-color:rgb(56, 55, 55);
    width: 95%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #000;
    position: absolute;
    top: 3000px; 
    left: 30px;
   }
   .ques1 h3{
    font-size: 25px;
    color: white;
    padding-top: 60px;
  padding-left: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, ;
    font-weight: 500;
  }
  .ques1 i{
    font-size: 50px;
    color: white;
    padding-top: 30px;
    margin-right: -999px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    font-weight: 100;
  }

  .ques2{
    background-color:rgb(56, 55, 55);
    width: 95%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #000;
    position: absolute;
    top: 3100px; 
    left: 30px;
   }
   .ques2 h3{
    font-size: 25px;
    color: white;
    padding-top: 60px;
  padding-left: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, ;
    font-weight: 500;
  }
  .ques2 i{
    font-size: 50px;
    color: white;
    padding-top: 30px;
    margin-right: -999px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    font-weight: 100;
  }

  .ques3{
    background-color:rgb(56, 55, 55);
    width: 95%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #000;
    position: absolute;
    top: 3200px; 
    left: 30px;
   }
   .ques3 h3{
    font-size: 25px;
    color: white;
    padding-top: 60px;
  padding-left: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, ;
    font-weight: 500;
  }
  .ques3 i{
    font-size: 50px;
    color: white;
    padding-top: 30px;
    margin-right: -999px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    font-weight: 100;
  }

  .ques4{
    background-color:rgb(56, 55, 55);
    width: 95%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #000;
    position: absolute;
    top: 3300px; 
    left: 30px;
   }
   .ques4 h3{
    font-size: 25px;
    color: white;
    padding-top: 60px;
  padding-left: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, ;
    font-weight: 500;
  }
  .ques4 i{
    font-size: 50px;
    color: white;
    padding-top: 30px;
    margin-right: -999px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    font-weight: 100;
  }

  .ques5{
    background-color:rgb(56, 55, 55);
    width: 95%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #000;
    position: absolute;
    top: 3400px; 
    left: 30px;
   }
   .ques5 h3{
    font-size: 25px;
    color: white;
    padding-top: 60px;
  padding-left: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, ;
    font-weight: 500;
  }
  .ques5 i{
    font-size: 50px;
    color: white;
    padding-top: 30px;
    margin-right: -999px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    font-weight: 100;
  }


  .questions h2{
    font-size: 20px;
    color: white;
    text-align: center;
    font-weight: 500;
    position: absolute;
    top: 3600px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, ;
}
.questions form{
    width: 100%;
    height: 100px;
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    gap: 05px;
    position: absolute;
    top: 3640px; 
    left: 15px;
}

.questions form input{
    height: 50px;
    width: 340px;
    margin-left: 320px;
    padding-left: 20px;
    border-radius: 6px;
    background:rgba(23, 23, 23, 0.2);
    font-size: 15px;
    font-weight: 500;


}

.questions form button{
    height: 56px;
    width: 185px;
    border-radius: 6px;
    font-size: 20px;
    background: red;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;

}
.questions form button:hover{
    background: rgb(199, 66, 66);
    cursor: pointer;
    transition: 0.5s;
}

